DATABASE_URL=jdbc:postgresql://localhost:5432/starterpack
DATABASE_USER=starterpack
DATABASE_PASSWORD=starterpack
JWT_SECRET=bXktc3VwZXItc2VjcmV0LWtleS1mb3ItbG9jYWwtZGV2ZWxvcG1lbnQtb25seS1jaGFuZ2UtaW4tcHJvZHVjdGlvbg==
